<app-owl-carousel [slidesStore]="slidesStore" [loop]="true" [autoplay]="true" [autoplayTimeout]="1000"
    [autoplayHoverPause]="true" [isRedirectLink]="true" [isImageCaption]="true"></app-owl-carousel>


<app-owl-carousel [slidesStore]="slidesStore" [loop]="true" [autoplay]="true" [autoplayTimeout]="3000"
    [autoplayHoverPause]="true" [isRedirectLink]="false" [isImageCaption]="true"></app-owl-carousel>

<app-owl-carousel [slidesStore]="slidesStore" [loop]="true" [autoplay]="true" [autoplayTimeout]="5000"
    [autoplayHoverPause]="true" [isRedirectLink]="true" [isImageCaption]="false"></app-owl-carousel>